

body {

    font-family: 'Coda', cursive;
    background-color: #AAA9A7
}

.container {
  display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: 100px auto 100px;
   grid-gap: 10px;
}

.menu{
  background-color: #F0F5F7;
  grid-row: 1/4;
  font-size: large;
  box-shadow: -webkit-box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);
box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);
}

#Dog{
  background-color:  #F0F5F7;

  box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);

}

.header{
  grid-column: 2/-1;
  background-color: #F0F5F7;
  box-shadow: -webkit-box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);
box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);
text-align: center;
}

.footer{
  grid-column: 2/-1;
  background-color: #F0F5F7;
  box-shadow: -webkit-box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);
box-shadow: 3px 10px 25px 0px rgba(0,0,0,0.75);
}
