body {
    font-family: 'Coda', cursive;
    background-color:  white;
}
.container {
     display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3px;
}

.left{
  background-color: #efe0e0;
}

.menu{
}

.Dog{
  background-color: #c7ddf5;
}

.header{


}

.footer{
}

#Dog-list {

}
